{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uzum | Business</title>
    <link rel="stylesheet" href="{% static "apps/css/register/email-verification.css" %}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'apps/images/logo.png' %}" alt="Uzum Logo">
        </div>
        <div class="card">
            <div class="email-icon">
                <img src="{% static 'apps/images/email-icon.png' %}" alt="Email Icon">
            </div>
            <div class="header">Подтверждение email</div>
            <div class="info-text">На ваш почтовый адрес <strong>muslimuzb05@gmail.com</strong> выслан код подтверждения.</div>
            <input type="text" class="code-input" placeholder="Код подтверждения" aria-label="Код подтверждения">
            <div class="error-text">Не получили код или код неверен? Пожалуйста подождите <span id="timer">00:31</span></div>
            <button class="continue-button">Продолжить</button>
        </div>
    </div>
    <script>
        let timer = document.getElementById('timer');
        let timeLeft = 60;
        setInterval(() => {
            if(timeLeft <= 0) {
                timer.innerHTML = "00:00";
            } else {
                let minutes = Math.floor(timeLeft / 60);
                let seconds = timeLeft % 60;
                timer.innerHTML = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                timeLeft--;
            }
        }, 1000);
    </script>
</body>
</html>
