{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uzum | Business</title>
    <link rel="stylesheet" href="{% static 'apps/css/register/new-user-password.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'apps/images/logo.png' %}" alt="Uzum Logo">
        </div>
        <div class="card">
            <div class="header">Создайте новый пароль для вашего аккаунта</div>
            <input type="password" class="password-input" placeholder="Пароль" aria-label="Пароль">
            <input type="password" class="password-input" placeholder="Повторите пароль" aria-label="Повторите пароль">
            <button class="continue-button">Сохранить и продолжить</button>
        </div>
    </div>
</body>
</html>
