{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'apps/css/register/register.css' %}">
</head>
<body>
    <div class="image-container adaptiveImgContainer" role="img" tabindex="0">
            <img src="{% static 'apps/images/register/img.png' %}" alt="Register Image">
        </div>
    <div class="auth">
        <div class="content">
            <h2 class="title">Начните продавать на Uzum.uz</h2>
            <p class="manual-warning">Обязательно изучите <a href="#">инструкцию</a> перед регистрацией. Это займет не более 40 минут.</p>
            <div class="language">
                <div class="language-title">Язык интерфейса</div>
                <div class="language-description">В дальнейшем смена языка доступна в разделе "Мой профиль"</div>
                <div class="language-switcher">
                    <label class="language">
                        <div class="language-text">Русский (RUS)</div>
                    </label>
                    <label class="language">
                        <div class="language-text">O'zbek (UZB)</div>
                    </label>
                </div>
            </div>
            <div class="input-form-group">
                <div class="field-container">
                    <label class="label-container">Имя</label>
                    <input type="text" id="input-18" class="input-facade" name="имя" role="textbox" 
                           placeholder="Имя">
                </div>
            </div>
            <div class="input-form-group">
                <div class="field-container">
                    <label class="label-container">Телефон</label>
                    <input type="tel" id="input-tel-21" class="input-facade" name="телефон +998" role="textbox"
                           placeholder="+998">
                </div>
            </div>
            <div class="input-form-group">
                <div class="field-container">
                    <label class="label-container">Электронная почта</label>
                    <input type="email" id="input-email-24" class="input-facade" name="электронная почта" role="textbox"
                           placeholder="example@email.com">
                </div>
            </div>
            <div class="input-form-group">
                <div class="field-container">
                    <label class="label-container">Пароль</label>
                    <input type="password" id="input-27" class="input-facade" name="пароль" role="textbox"
                           placeholder="Не менее 8 символов">
                </div>
            </div>
            <button class="item-container-theme-red" role="button">Продолжать</button>
            <p class="license-agreement">Нажимая на кнопку "Продолжить" вы соглашаетесь с <a href="#">Договором Оферты</a> и <a href="#">Политикой Конфиденциальности</a> Uzum</p>
        </div>
    </div>
    <div class="action-desktop" role="generic" tabindex="0">
        <span class="label">Уже есть аккаунт?</span>
        <button class="login-button" role="button" tabindex="0">Войти</button>
    </div>

    <script>
        document.querySelector('.login-button').addEventListener('click', function() {
            alert('Login button clicked');
        });
        
        document.querySelector('.item-container-theme-red').addEventListener('click', function() {
            alert('Continue button clicked');
        });
    </script>
</body>
</html>
