annotated-types==0.7.0
asgiref==3.8.1
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
Deprecated==1.2.14
Django==5.0.6
django-ckeditor-5==0.2.13
idna==3.7
pillow==10.3.0
psycopg2-binary==2.9.9
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
PyJWT==2.8.0
pytz==2024.1
requests==2.32.3
sqlparse==0.5.0
typing_extensions==4.12.2
urllib3==2.2.2
vonage==3.16.0
vonage-jwt==1.1.1
vonage-utils==1.1.2
wrapt==1.16.0
