{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaharni tanlash</title>
    <link rel="stylesheet" href="{% static 'apps/css/box_menu_style.css' %}">
</head>
<body>
    <h1 id="showCities" style="cursor: pointer; text-align: end">Toshkent</h1>
    <div class="city-selector hidden">
        <h2>Yetkazish berish shahrini ko‘rsating</h2>
        <h3>O‘zbekistonda 95 ta shaharga ertasi kun bepul yetkazib berish:</h3>
        <form action="">
            <input class="search_box" type="text" name="q" placeholder="Shaharni topish">
        </form>
        <div class="city-list">
            <ul>
                <li>Andijon</li>
                <li>Asaka</li>
                <li>Beshariq</li>
                <li>Bulung'ur</li>
                <li>Chinoz</li>
                <li>Chiroqchi</li>
                <li>Chust</li>
                <li>Denov</li>
                <li>Do‘stobod</li>
                <li>Farg‘ona</li>
                <li>G‘allaorol</li>
                <li>G‘ijduvon</li>
                <li>Gulobod</li>
                <li>G‘azalkent</li>
                <li>Ishtixon</li>
                <li>Jizzax</li>
                <li>Bekobod</li>
                <li>Boysun</li>
                <li>Buxoro</li>
                <li>Chirchiq</li>
                <li>Chortoq</li>
                <li>Dang‘ara</li>
                <li>Do‘stlik</li>
                <li>Eshonguzar</li>
                <li>Furqat</li>
                <li>Galaosiya</li>
                <li>Guliston</li>
                <li>G‘uzor</li>
                <li>Ibrat</li>
                <li>Jalaquduq</li>
                <li>Jomboy</li>
                <li>Angren</li>
                <li>Bokobod</li>
                <li>Boysun</li>
                <li>Buxoro</li>
                <li>Chirchiq</li>
                <li>Chortoq</li>
                <li>Dang‘ara</li>
                <li>Do‘stlik</li>
                <li>Eshonguzar</li>
                <li>Furqat</li>
                <li>Galaosiya</li>
                <li>Guliston</li>
                <li>G‘uzor</li>
                <li>Ibrat</li>
                <li>Jalaquduq</li>
                <li>Jomboy</li>
            </ul>
        </div>
    </div>

    <script src="{% static 'apps/js/active_box_menu.js' %}"></script>
</body>
</html>
