{% load static %}

{% block custom_css %}
    <style>
        /* The Modal (background) */
        .my-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .my-modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

<header class="li-header-4">
    <!-- Begin Header Top Area -->

    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Begin Header Top Left Area -->
                <div class="col-lg-3 col-md-4">
                    <div class="header-top-left">
                        <ul class="phone-wrap">
                            <li><span>Shahar: <button id="region-modal">Toshkent</button></span></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Left Area End Here -->
                <!-- Begin Header Top Right Area -->
                <div class="col-lg-9 col-md-8">
                    <div class="header-top-right">
                        <ul class="ht-menu">
                            <!-- Begin Setting Area -->
                            <li>
                                <div class="ht-setting-trigger"><span>Setting</span></div>
                                <div class="setting ht-setting">
                                    <ul class="ht-setting-list">
                                        <li><a href="login-register.html">My Account</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login-register.html">Sign In</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Setting Area End Here -->
                            <!-- Begin Currency Area -->
                            <li>
                                <span class="currency-selector-wrapper">Currency :</span>
                                <div class="ht-currency-trigger"><span>USD $</span></div>
                                <div class="currency ht-currency">
                                    <ul class="ht-setting-list">
                                        <li><a href="#">EUR €</a></li>
                                        <li class="active"><a href="#">USD $</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Currency Area End Here -->
                            <!-- Begin Language Area -->
                            <li>
                                <span class="language-selector-wrapper">Language :</span>
                                <div class="ht-language-trigger"><span>English</span></div>
                                <div class="language ht-language">
                                    <ul class="ht-setting-list">
                                        <li class="active"><a href="#"><img
                                                src="{% static 'apps/images/menu/flag-icon/1.jpg' %}"
                                                alt="">English</a></li>
                                        <li><a href="#"><img src="{% static 'apps/images/menu/flag-icon/2.jpg' %}"
                                                             alt="">Français</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Language Area End Here -->
                        </ul>
                    </div>
                </div>
                <!-- Header Top Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->

    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
        <div class="container">
            <div class="row">
                <!-- Begin Header Logo Area -->
                <div class="col-lg-3">
                    <div class="logo pb-sm-30 pb-xs-30">
                        <a href="index.html">
                            <img src="{% static 'apps/images/menu/logo/2.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header Logo Area End Here -->
                <!-- Begin Header Middle Right Area -->
                <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                    <!-- Begin Header Middle Searchbox Area -->
                    <form action="#" class="hm-searchbox">
                        <select class="nice-select select-search-category">
                            <option value="0">All</option>
                            <option value="10">Laptops</option>
                            <option value="17">- - Prime Video</option>
                            <option value="20">- - - - All Videos</option>
                            <option value="21">- - - - Blouses</option>
                            <option value="22">- - - - Evening Dresses</option>
                            <option value="23">- - - - Summer Dresses</option>
                            <option value="24">- - - - T-shirts</option>
                            <option value="25">- - - - Rent or Buy</option>
                            <option value="26">- - - - Your Watchlist</option>
                            <option value="27">- - - - Watch Anywhere</option>
                            <option value="28">- - - - Getting Started</option>
                            <option value="18">- - - - Computers</option>
                            <option value="29">- - - - More to Explore</option>
                            <option value="30">- - - - TV &amp; Video</option>
                            <option value="31">- - - - Audio &amp; Theater</option>
                            <option value="32">- - - - Camera, Photo</option>
                            <option value="33">- - - - Cell Phones</option>
                            <option value="34">- - - - Headphones</option>
                            <option value="35">- - - - Video Games</option>
                            <option value="36">- - - - Wireless Speakers</option>
                            <option value="19">- - - - Electronics</option>
                            <option value="37">- - - - Amazon Home</option>
                            <option value="38">- - - - Kitchen &amp; Dining</option>
                            <option value="39">- - - - Furniture</option>
                            <option value="40">- - - - Bed &amp; Bath</option>
                            <option value="41">- - - - Appliances</option>
                            <option value="11">TV &amp; Audio</option>
                            <option value="42">- - Chamcham</option>
                            <option value="45">- - - - Office</option>
                            <option value="47">- - - - Gaming</option>
                            <option value="48">- - - - Chromebook</option>
                            <option value="49">- - - - Refurbished</option>
                            <option value="50">- - - - Touchscreen</option>
                            <option value="51">- - - - Ultrabooks</option>
                            <option value="52">- - - - Blouses</option>
                            <option value="43">- - Meito</option>
                            <option value="53">- - - - Hard Drives</option>
                            <option value="54">- - - - Graphic Cards</option>
                            <option value="55">- - - - Processors (CPU)</option>
                            <option value="56">- - - - Memory</option>
                            <option value="57">- - - - Motherboards</option>
                            <option value="58">- - - - Fans &amp; Cooling</option>
                            <option value="59">- - - - CD/DVD Drives</option>
                            <option value="44">- - XailStation</option>
                            <option value="60">- - - - Sound Cards</option>
                            <option value="61">- - - - Cases &amp; Towers</option>
                            <option value="62">- - - - Casual Dresses</option>
                            <option value="63">- - - - Evening Dresses</option>
                            <option value="64">- - - - T-shirts</option>
                            <option value="65">- - - - Tops</option>
                            <option value="12">Smartphone</option>
                            <option value="66">- - Camera Accessories</option>
                            <option value="68">- - - - Octa Core</option>
                            <option value="69">- - - - Quad Core</option>
                            <option value="70">- - - - Dual Core</option>
                            <option value="71">- - - - 7.0 Screen</option>
                            <option value="72">- - - - 9.0 Screen</option>
                            <option value="73">- - - - Bags &amp; Cases</option>
                            <option value="67">- - Sanai</option>
                            <option value="74">- - - - Batteries</option>
                            <option value="75">- - - - Microphones</option>
                            <option value="76">- - - - Stabilizers</option>
                            <option value="77">- - - - Video Tapes</option>
                            <option value="78">- - - - Memory Card Readers</option>
                            <option value="79">- - - - Tripods</option>
                            <option value="13">Cameras</option>
                            <option value="14">headphone</option>
                            <option value="15">Smartwatch</option>
                            <option value="16">Accessories</option>
                        </select>
                        <input type="text" placeholder="Mahsulotlar va turkumlar izlash">
                        <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <!-- Header Middle Searchbox Area End Here -->
                    <!-- Begin Header Middle Right Area -->
                    <div class="header-middle-right">
                        <ul class="hm-menu">
                            <!-- Begin Header Middle Wishlist Area -->
                            <li class="hm-wishlist" style="initial-letter: normal">
                                <a href="wishlist.html">
                                    <i class="fa fa-user-o"></i>
                                </a>
                            </li>
                            <!-- Begin Header Middle Wishlist Area -->
                            <li class="hm-wishlist">
                                <a href="wishlist.html">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </li>
                            <!-- Header Middle Wishlist Area End Here -->
                            <!-- Begin Header Mini Cart Area -->
                            <li class="hm-minicart">
                                <div class="hm-minicart-trigger">
                                    <span class="item-icon"></span>
                                    <span class="item-text">£80.00
                                                    <span class="cart-item-count">2</span>
                                                </span>
                                </div>
                                <span></span>
                                <div class="minicart">
                                    <ul class="minicart-product-list">
                                        <li>
                                            <a href="single-product.html" class="minicart-product-image">
                                                <img src="{% static 'apps/images/product/small-size/1.jpg' %}"
                                                     alt="cart products">
                                            </a>
                                            <div class="minicart-product-details">
                                                <h6><a href="single-product.html">Aenean eu tristique</a></h6>
                                                <span>£40 x 1</span>
                                            </div>
                                            <button class="close">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="single-product.html" class="minicart-product-image">
                                                <img src="{% static 'apps/images/product/small-size/2.jpg' %}"
                                                     alt="cart products">
                                            </a>
                                            <div class="minicart-product-details">
                                                <h6><a href="single-product.html">Aenean eu tristique</a></h6>
                                                <span>£40 x 1</span>
                                            </div>
                                            <button class="close">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </li>
                                    </ul>
                                    <p class="minicart-total">SUBTOTAL: <span>£80.00</span></p>
                                    <div class="minicart-button">
                                        <a href="checkout.html"
                                           class="li-button li-button-dark li-button-fullwidth li-button-sm">
                                            <span>View Full Cart</span>
                                        </a>
                                        <a href="checkout.html" class="li-button li-button-fullwidth li-button-sm">
                                            <span>Checkout</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <!-- Header Mini Cart Area End Here -->
                        </ul>
                    </div>
                    <!-- Header Middle Right Area End Here -->
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->

    <div class="header-bottom header-sticky stick d-none d-lg-block d-xl-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Header Bottom Menu Area -->
                    <div class="hb-menu">
                        <nav>
                            <ul>

                                {% for category in cats %}
                                    <li class="dropdown-holder"><a href="index.html"><img src="{{ category.icon.url }}"
                                                                                          alt="" width="25px"
                                                                                          height="25px">
                                        {{ category.title }}</a>
                                        <ul class="hb-dropdown">
                                            {% for subcategory in subcategories %}
                                                {% if subcategory.parent.id == category.id %}
                                                    <li><a href="index.html"><img src="{{ subcategory.icon.url }}"
                                                                                  alt="" width="20px" height="20px">
                                                    {{ subcategory.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}

                                <li class="dropdown-holder"><a href="index.html"> Yana </a>
                                    <div class="split left">
                                        <div class="centered">
                                            {% for category in categories %}
                                                <h2><a href="index.html"><img
                                                        src="{{ category.icon.url }}"
                                                        alt="" width="25px"
                                                        height="25px">
                                                    {{ category.title }}</a>
                                                </h2>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="split right">
                                        <div class="centered">
                                            {% for subcategory in subcategories %}
                                                {% if subcategory.parent.id == category.id %}
                                                    <li><a href="index.html"><img src="{{ subcategory.icon.url }}"
                                                                                  alt="" width="20px" height="20px">
                                                    {{ subcategory.title }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Menu Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->


    <div class="mobile-menu-area mobile-menu-area-4 d-lg-none d-xl-none col-12">
        <div class="container">
            <div class="row">
                <div class="mobile-menu">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End Here -->
</header>


<div class="city-selector show my-modal" id="myRegionModal">
    <div class="my-modal-content">

        <h2>Yetkazish berish shahrini ko‘rsating</h2>
        <h3>O‘zbekistonda 95 ta shaharga ertasi kun bepul yetkazib berish:</h3>
        <form action="">
            <input class="search_box" type="text" name="q" placeholder="Shaharni topish">
        </form>
        <div class="city-list">
            <ul>
                <li>Andijon</li>
                <li>Asaka</li>
                <li>Beshariq</li>
                <li>Bulung'ur</li>
                <li>Chinoz</li>
                <li>Chiroqchi</li>
                <li>Chust</li>
                <li>Denov</li>
                <li>Do‘stobod</li>
                <li>Farg‘ona</li>
                <li>G‘allaorol</li>
                <li>G‘ijduvon</li>
                <li>Gulobod</li>
                <li>G‘azalkent</li>
                <li>Ishtixon</li>
                <li>Jizzax</li>
                <li>Bekobod</li>
                <li>Boysun</li>
                <li>Buxoro</li>
                <li>Chirchiq</li>
                <li>Chortoq</li>
                <li>Dang‘ara</li>
                <li>Do‘stlik</li>
                <li>Eshonguzar</li>
                <li>Furqat</li>
                <li>Galaosiya</li>
                <li>Guliston</li>
                <li>G‘uzor</li>
                <li>Ibrat</li>
                <li>Jalaquduq</li>
                <li>Jomboy</li>
                <li>Angren</li>
                <li>Bokobod</li>
                <li>Boysun</li>
                <li>Buxoro</li>
                <li>Chirchiq</li>
                <li>Chortoq</li>
                <li>Dang‘ara</li>
                <li>Do‘stlik</li>
                <li>Eshonguzar</li>
                <li>Furqat</li>
                <li>Galaosiya</li>
                <li>Guliston</li>
                <li>G‘uzor</li>
                <li>Ibrat</li>
                <li>Jalaquduq</li>
                <li>Jomboy</li>
            </ul>
        </div>
    </div>
</div>

{% block custom_js %}

    <script>
        // Get the modal
        var modal = document.getElementById("myRegionModal");

        // Get the button that opens the modal
        var btn = document.getElementById("region-modal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}