.login-logo img {
    width: 350px; /* Adjust the width as needed */
}

form div.row div button {
    background-color: rgb(112, 0, 255);
}

form div.row div button:hover {
    background-color: rgb(170, 116, 241);
}

.input-group input{
    border-color: rgb(112, 0, 255);
}

.card-body {
    padding: 1.90rem
}

.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgb(112, 0, 255);
}

div.card div a {

}